<!-- Alert Confirmation Modal -->
<div th:fragment="custom_alert_modal">
    <div class="modal fade" id="custom_alert_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="customAlertModalTitle"></h6>
                </div>
                <div class="modal-body pt-4 pb-4" id="customAlertModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>