<!-- fragments/confirmModal.html -->
<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h6 class="modal-title" id="confirmModalLabel"></h6>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button> -->
            </div>
            <div class="modal-body border-0" id="confirmModalMessage"></div>
            <div class="modal-footer border-0">
                <button type="button" class="footer-btn btn-cancel" id="confirmModalCancelBtn" data-bs-dismiss="modal">취소</button>
                <button type="button" class="footer-btn btn-confirm" id="confirmModalConfirmBtn">확인</button>
            </div>
        </div>
    </div>
</div>