html {
    height: 100%;
}

.init_desc{
    position: absolute;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
    border: none;
    border-bottom:solid 1px #cacaca;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: gray;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

button {
    width: 100%;
    padding: 10px;
    background-color: #191970;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 에러 메시지 스타일 */
.error_message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
